html {
 height: 100%;
}
body {
  padding-top: 5%;
  background-color: rgb(66,150,255);
   height: 90%;
}
input {
  border-radius: 10px;
  height: 25pt;
  font-size: 20pt;
  padding-left: 5px;
}
#regist {
  display: inline;
}
#chatroom {
  display: none;
}
.registbox{
  width: 95%;
  height: 30%;
  text-align: center;
}
.namebox input {
  width: 40%;
}
.namebox {
  padding-top: 150px;
  padding-bottom: 150px;
  height: 50px;
  width: 100%;
}
.searchbox{
  border-radius: 50%;
  height: 128px;
  width: 128px;
  margin: auto;
  background-image: url("../image/floater.png");

}
.wrap {
  width: 80%;
  min-width: 100px;
  height: 70%;
  background-color: white;
  border: 5px;
  border-radius: 10px;
  opacity: 0.7;
  margin: 0 auto;
  margin-bottom: 5%;
  overflow-y: scroll;
  font-family: Arial;
  font-weight: bold;
  font-size: 15pt;
  color: black;
  padding: 20px;
}
.inputbox {
  width: 90%;
  height: 5%;
  margin: 0 auto;
  text-align: center;
}
.messagebox {
  width: 100%;
  margin-left: 10px;
}
.messagebox input {
  float: left;
  width: 70%;
}
.sendbox button {
  background-color: rgb(121, 204, 223);
  border-radius: 10px;
  height: 25pt;
  width: 20%;
  float: right;
}
